$trueBlack: #000000;
$trueWhite: #ffffff;

$red: #E21E26;
$blue: #40c3ff;

:root {
    --gradient: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        white,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
    );
}